*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
a{
  color: #369dfd;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
}
.container .a{
  height: auto;
}
.container .head{
  width: 100vw;
  height: auto;
  color: #595959;
  background: #fefae3;
  padding: 10px 8px;
  margin-bottom: 15px ;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.container img{
  width: 35vw;
  height: auto;
  margin-bottom: 4px;
}
.container .input {
  width: 90vw;
  padding: 14px 17px;
  background: #f3f3f3;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  word-spacing: 0.001rem;
}

.container .input:focus{
  border: 1px solid #000;
}
/* pass show section */

.container .pass-show{
  position: relative;
  width: 90vw;
  display: flex;
  margin-top: 6px;
  height: auto;
  margin-bottom:10px ;
}
.container .pass-show input{
  width: 79%;
  padding: 14px 17px;
  display: inline-block;
 background: #f3f3f3;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.container .pass-show input:focus,.container .pass-show input:hover{
  border: 1px solid #000;
  border-right: 1px solid #000;
}
.container .pass-show button{
  display: inline-block;
  padding: 14px 17px;
  position: absolute;
  right: 0;
  border-radius:0 4px 4px 0;
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: transparent;
 border-left: 1px solid #000;
 border-top:1px solid #e3e3e3 ;
 border-right:1px solid #e3e3e3 ;
 border-bottom:1px solid #e3e3e3 ;
}
.container .log-in{
  width: 90vw;
  padding: 10px 5px;
  border-radius: 4px;
  background: #2765ff;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom:13px ;
}
.or{
  position: relative;
  font-size: 16px;
  pointer-events: none;
  text-align: center;
  color: #727272;
  margin-bottom:20px ;
  
}
.or::before{
  content: '';
  position: absolute;
  left:30px;
  top: 50%;
  background: #0000004e;
  height: .9px;
  width: 130px;
  
}
.or::after{
  content: '';
  position: absolute;
  right:30px;
  top: 50%;
  background: #0000004e;
  height: .9px;
  width: 130px;
  
}
.container button[type="submit"] {
  padding:7px 50px ;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: transparent;
  border-radius:4px ;
  border: 1px solid #d3d3d3;
}

.container .head .material-symbols-outlined {
  text-align: center;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
